.users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.input-form {
  border: 2px solid black;
  border-radius: 5px;

  padding: 20px;
  width: fit-content;
}

.page-navigation {
  display: flex;
  align-items: center;
}
